<h1>Movies</h1>
<hr />
<% @movies.each do |movie| %>
    <div>
    
      <h2><%= movie.title %></h2>
      <div><%= image_tag movie.picture %></div>
      <div>Genre: <%= movie.genre %></div>
      <div>Year: <%= movie.year %></div>
      <div>Synopsis: <%= movie.synopsis %></div>

    </div>
    <br />
    <hr />
<% end %>
